.editor-layout .editor-info > *{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  position: fixed;
  bottom: 0;
  /* max-height: 2px; */
  border-top: 1px solid #3b3b3b;
  border-bottom: 1px solid #3b3b3b;
  background-color: rgba(47, 47, 47, 1);
  margin: 0;
}

.editor-layout .editor-info ul {
  list-style: none;
  text-decoration: none;
  color: white;
}

.editor-layout .editor-info ul li span.value {
  font-weight: bold;
  color: orange;
}
