
.editor-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-top: 50px;
  padding-bottom: 100px;
  width: 100%;
}

.editor-wrapper .cm-editor {
  padding-bottom: 70px;
}
