.app-layout .editor-layout header {
  display: flex;
  padding: 6px;
  background-color: rgb(47, 47, 47);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.app-layout .editor-layout header .btn-bloc {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-left: 20px;
}

.app-layout .editor-layout header button {
  outline: none;
  background-color: transparent;
  padding: 3px;
  color: white;
  border: 1px solid #3b3b3b;
  padding: 6px;
  border-radius: 5px;

}

.app-layout .editor-layout header button {
  outline: none;
  background-color: transparent;
  padding: 3px;
  color: white;
  border: 1px solid #3b3b3b;
  padding: 6px;
  border-radius: 5px;
  user-select: none;
}

.app-layout .editor-layout header button:hover {
  background-color: #3b3b3b;
}

.app-layout .editor-layout header .btn-bloc button.active {
  background-color: rgba(255, 255, 0, 0.15);
  border: 1px solid orange;
  font-weight: bold;
}


.app-layout .editor-layout header .actions {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  gap: 1rem;
}

.app-layout .editor-layout header .actions button:hover{
  scale: 1.06;
  color: orange;
}
.app-layout .editor-layout header .actions button:hover > * {
  color: orange;
}

.app-layout .editor-layout header .tags-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  gap: 1rem;
  /* background-color: rgba(255, 255, 255, 0.1); */
  /* padding: 8px; */
}
.app-layout .editor-layout header .tags-block .tags {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.app-layout .editor-layout header .tags-block .tags .tag {
  padding: 3px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.app-layout .editor-layout header .tags-block .tags-list {
  position: absolute;
  top: 50px;
  height: 0;
  border: 1px solid #3b3b3b;
  border-radius: 5px;
  min-width: 170px;
  color: white;
  display: none;
  transition: height 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: rgba(37, 37, 37, 0.6);
  backdrop-filter: blur(10px);
}

.app-layout .editor-layout header .tags-block .tags-list.open {
  display: block;
  height: auto;
  max-height: 260px;
  overflow-y: auto;
}


.app-layout .editor-layout header .tags-block .tags-list ul {
  list-style: none;
  width: 100%;
  padding-left: 0;
}

.app-layout .editor-layout header .tags-block .tags-list ul li {
  margin-bottom: 7px;
  display: flex;
  height: 30px;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: start;
  padding-left: 5px;
  cursor: pointer;
  font-weight: bold;
}

.app-layout .editor-layout header .tags-block .tags-list ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.app-layout .editor-layout header .tags-block .tags-list ul li:hover > * {
  scale: 1.02;
}

.app-layout .editor-layout header .tags-block .tags-list ul li .color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 5px solid rgba(37, 37, 37, 0.9);
}
