.sidebar > * {

  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
}
.sidebar {
  min-width: 250px;
  padding-top: 20px;

  background-color: rgba(47, 47, 47, 0.8);
  filter: blur(10px);
  filter: brightness(1);
  padding-bottom: 80px;
}

.sidebar .head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.sidebar .head .title {
  color: white;
  size: 1.3rem;
  font-weight: bold;
}
.sidebar .actions {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar .actions button {
  border: 0;
  color: white;
  background-color: rgba(47, 47, 47, 1.0);
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #efefef;
}

.sidebar .actions button:focus {
  outline: none;
}

.sidebar .actions button:hover {
  border-color: orange;
  color: orange;
  background-color: rgba(255, 255, 0, 0.1);
}

.sidebar .actions button:hover > * {
  scale: 1.05;
}

.sidebar .sidebar-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 100px;
  padding-bottom: 100px;
}

.sidebar .sidebar-content .content {
  color: white;
  display: block;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}
.sidebar .sidebar-content .content .title {
  font-weight: bold;
}
.sidebar .sidebar-content .content .title.active {
  color: orange;
}

.sidebar .sidebar-content .content input.change-title-input {
  background: transparent;
  color: white;
  border-radius: 3px;
  border: 1px solid #3b3b3b;
  padding: 5px;
  font-size: 1rem;
}
.sidebar .sidebar-content .content input.change-title-input:focus {
  outline: none;
}

.sidebar .sidebar-content .content:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar .sidebar-content .note-date {
  font-size: 0.7rem;
}
.sidebar .sidebar-content .notebook {
  display: flex;
  text-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
}

.sidebar .sidebar-content .content.active {
  background-color: rgba(255, 255, 255, 0.2);
}
